.max-lines {
  display: block; /* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.8em;
}

.title {
  height: 8rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
img {
  width: 200px;
}

.footer{
  display: flex; justify-content: center;
  gap:2rem;
}

.footer p{
  font-size: 1.2rem;
  font-weight: bold;
}


@media only screen and (max-width: 640px) {
  .footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media only screen and (min-width: 641px) and ( max-width: 768px){
  .footer{
    justify-content: center;
  }
  
}
