.complex{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container{
    width: 50%;
    height: 15rem;
    background-color: #ccc;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    text-align: center;
}