.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: #c20000;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.header div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

h1,h2{
  cursor: pointer;
  transition: .3s;
}
h1:hover,h2:hover{
  color:  #2c0d00;
}
.loginComplex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropDownHide,.dropDownHide p{
  display: none ;
}
.dropDown{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: rgb(158, 19, 19);
  margin-top: 17.5rem;
  right: 1;
  max-width: 20%;
  padding: 1rem;
  border-radius: 1rem;
  color: rgba(255, 255, 255, 0.822);
}
.dropDown p{
  cursor: pointer;
  transition: .3s;
}

.dropDown p:hover{
  color: white;
}

@media only screen and ( max-width: 640px){
  .header{
    padding: 0;
  }
  .header div{
    width: 30%;
  }
  .header div .header-txt{
    display: none;
  }
  div h1 i,div h2 i{
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 508px) and ( max-width: 546px){
  .dropDown{
    max-width: 25%;
  }
}

@media only screen and (min-width: 437px) and ( max-width: 508px){
  .dropDown{
    max-width: 25%;
  }
}

@media only screen and (min-width: 365px) and ( max-width: 437px){
  .dropDown{
    max-width: 30%;
  }
}

@media only screen and (min-width: 320px) and ( max-width: 365px){
  .dropDown{
    font-size: .9rem;
    margin-top: 21rem;
    max-width: max-content;
  }
}

